Source: hildon-theme-matrix
Section: user/desktop
Priority: optional
Maintainer: D-Iivil <ricky@hevikaraoke.fi>
Build-Depends: debhelper (>= 4.0.0), hildon-theme-layout-5, hildon-theme-tools, imagemagick, pkg-config
Standards-Version: 3.6.0

Package: hildon-theme-matrix
Architecture: all
Description: Matrix-style Hildon theme with working PR1.2 virtual keyboard
 Based on original Matrix-theme by Lacedaemon, just added the missing new virtual keyboard's buttons.
XSBC-Bugtracker: mailto:ricky@hevikaraoke.fi
XSBC-Maemo-Display-Name: Matrix Theme PR1.2
