[Colors]

DefaultTextColor=#ffffff
SecondaryTextColor=#bababa
ActiveTextColor=#b7eb3a
DisabledTextColor=#464646
PaintedTextColor=#241100

ReversedTextColor=#000000
ReversedSecondaryTextColor=#555555
ReversedActiveTextColor=#b7eb3a
ReversedDisabledTextColor=#959595
ReversedPaintedTextColor=#ffffff

DefaultBackgroundColor=#181818
DarkerBackgroundColor=#000000
ReversedBackgroundColor=#ffffff
SelectionColor=#68e000
ReversedSelectionColor=#d0f868

ContentBackgroundColor=#000000
ContentFrameColor=#303030
ContentSelectionColor=#b7eb3a

TitleTextColor=#ffffff
ButtonTextColor=#ffffff
ButtonTextPressedColor=#ffffff
ButtonTextDisabledColor=#8c8c8c

AccentColor1=#448900
AccentColor2=#c973ec
AccentColor3=#f19f4a
AttentionColor=#ff1919

NotificationBackgroundColor=#589cf8
NotificationTextColor=#010b18
NotificationSecondaryTextColor=#03234a0
